<div class="homepage">
  <div class="homepage__header">
    <img src="/static/logo.png" alt="Modern Backbone Starterkit" />
    <h2>{{name}}</h2>
  </div>
  <p class="homepage__intro">To get started, edit src/components/home-page/HomePage.js and save to reload.</p>
</div>
