<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <link href="//fonts.googleapis.com/css?family=Open+Sans:300,400" rel="stylesheet">
  <title>Modern Backbone Starterkit</title>

  {{#each htmlWebpackPlugin.files.css}}
    <link rel="stylesheet" href="{{htmlWebpackPlugin.options.path}}{{this}}" />
  {{/each}}
</head>
<body>
  <div id="root"></div>

  {{#each htmlWebpackPlugin.files.js}}
    <script type="text/javascript" src="{{htmlWebpackPlugin.options.path}}{{this}}"></script>
  {{/each}}
</body>
</html>
